<div class="row g-5">
    <div class="col-md-7 col-lg-8">
      <form class="needs-validation" novalidate>
        <div class="row g-3">			
                <hr class="my-3">
          <div class="col-3">
                  <h5>Les grands-voiles</h5>
            <label for="gvl" class="form-label">grand-voile lattée</label>
            <div class="input-group">
              <input type="text" class="form-control" id="gvl" placeholder="" value="{{GVL}}">
                      <span class="input-group-text">m2</span>
            </div>
                  <label for="gvsl" class="form-label">grand-voile semi-lattée</label>
            <div class="input-group">
              <input type="text" class="form-control" id="gvsl" placeholder="" value="{{GVSL}}">
                      <span class="input-group-text">m2</span>
            </div>
                  <label for="gve" class="form-label">grand-voile sur enrouleur</label>
            <div class="input-group">
              <input type="text" class="form-control" id="gve" placeholder="" value="{{GVE}}">
                      <span class="input-group-text">m2</span>
            </div>
          </div>
                <div class="col-3">
                  <h5>Les voiles d'avant</h5>
            <label for="gm" class="form-label">génois sur mousquetons</label>
            <div class="input-group">
              <input type="text" class="form-control" id="gm" placeholder="" value="{{GM}}">
                      <span class="input-group-text">m2</span>
            </div>
                  <label for="gve" class="form-label">génois sur enrouleur</label>
            <div class="input-group">
              <input type="text" class="form-control" id="gve" placeholder="" value="{{GE}}">
                      <span class="input-group-text">m2</span>
            </div>
          </div>
          <div class="col-3">
                  <h5>Les voiles de portant</h5>
            <label for="ss" class="form-label">spi symétrique</label>
             <div class="input-group">
              <input type="text" class="form-control" id="ss" placeholder="" value="{{SS}}">
                      <span class="input-group-text">m2</span>
            </div>
                  <label for="sa" class="form-label">spi asymétrique</label>
            <div class="input-group">
              <input type="text" class="form-control" id="sa" placeholder="" value="{{SA}}">
                      <span class="input-group-text">m2</span>
            </div>
                  <label for="gs" class="form-label">gennaker / code 0</label>
            <div class="input-group">
                <input type="text" class="form-control" id="gs" placeholder="" value="{{GS}}">
                        <span class="input-group-text">m2</span>
            </div>
          </div>
                <div class="col-3">
                  <h5>Accessoires</h5>
            <label for="access" class="form-label">longueur de la bôme</label>
            <div class="input-group">
              <input type="text" class="form-control" id="access" placeholder="" >
                      <span class="input-group-text">m2</span>
            </div>
          </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-sm btn-warning " (click)="envoyerInfosBateau()">Envoyer</button>
                </div>
        </div>
      </form>
    </div>
  </div>
  