<div class="row g-5">
    <div class="col-md-7 col-lg-8">
    <hr class="my-4">
                <div class="col-12">
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="gv-tab" data-bs-toggle="tab" data-bs-target="#tab-gv" type="button" role="tab" aria-controls="gv" aria-selected="true">Grands-voiles</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ge-tab" data-bs-toggle="tab" data-bs-target="#tab-ge" type="button" role="tab" aria-controls="ge" aria-selected="true">Voiles d'avant</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="spi-tab" data-bs-toggle="tab" data-bs-target="#tab-spi" type="button" role="tab" aria-controls="spi" aria-selected="true">Voiles de portant</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="access-tab" data-bs-toggle="tab" data-bs-target="#tab-access" type="button" role="tab" aria-controls="access" aria-selected="true">Accessoires</button>
                  </li>
                </ul>
                <div class="tab-content" id="tab-sails">
                  <div class="tab-pane fade show active" id="tab-gv" role="tabpanel" aria-labelledby="gv-tab">
                    <div class="row"><p></p></div>
                    <div class="row">
                        <img src="./gvl.png" class="col-md-3 img-responsive">
                        <div class="col-md-6">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non luctus ligula. Fusce lobortis neque eget auctor viverra. Maecenas mattis vehicula nibh, eu dapibus quam. Donec porttitor rutrum iaculis. Nulla quam metus, fringilla a nunc non, malesuada placerat nisl. Quisque placerat diam sed nunc dapibus placerat. Nunc congue non sapien non iaculis.
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ul>
                        </div>
                        <div class="col-md-3">À partir de 9999,99 $ <button class="btn btn-primary">Configurer</button></div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <img src="./gvl.png" class="col-md-3 img-responsive">
                        <div class="col-md-6">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non luctus ligula. Fusce lobortis neque eget auctor viverra. Maecenas mattis vehicula nibh, eu dapibus quam. Donec porttitor rutrum iaculis. Nulla quam metus, fringilla a nunc non, malesuada placerat nisl. Quisque placerat diam sed nunc dapibus placerat. Nunc congue non sapien non iaculis.
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ul>
                        </div>
                        <div class="col-md-3">À partir de 9999,99 $ <button class="btn btn-primary">Configurer</button></div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <img src="./gvl.png" class="col-md-3 img-responsive">
                        <div class="col-md-6">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non luctus ligula. Fusce lobortis neque eget auctor viverra. Maecenas mattis vehicula nibh, eu dapibus quam. Donec porttitor rutrum iaculis. Nulla quam metus, fringilla a nunc non, malesuada placerat nisl. Quisque placerat diam sed nunc dapibus placerat. Nunc congue non sapien non iaculis.
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ul>
                        </div>
                        <div class="col-md-3">À partir de 9999,99 $ <button class="btn btn-primary">Configurer</button></div>
                    </div>
                  </div>
                  <div class="tab-pane fade show " id="tab-ge" role="tabpanel" aria-labelledby="ge-tab"></div>
                  <div class="tab-pane fade show " id="tab-spi" role="tabpanel" aria-labelledby="spi-tab"></div>
                  <div class="tab-pane fade show " id="tab-access" role="tabpanel" aria-labelledby="access-tab"></div>
                </div>
                </div>
    
              <hr class="my-4">
    
    
              <hr class="my-4">
    </div>
    </div>