<div class="row g-5">
    <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Modèle de bateau</h4>
        <div class="row g-3">
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Modèle</label>
                <input type="text" class="form-control" id="BoatModel" (change)="getData($event)"  placeholder="" value="" required>
                <select class="col-md-12" id="bpr-model-list" (change)="selectionDuBateau($event)">
                    <option value=""></option>
                    <option *ngFor="let bateau of listeBateau; index as i; first as isFirst" value={{bateau.ref}}>{{bateau.name}}</option>
                </select>
                <br><br>
                <div class="invalid-feedback" id="errors">
                le modèle du bateau est requis.
                </div>
            </div>
            <div class="col-sm-6">
                  <label for="lastName" class="form-label">Longueur (en mètre)</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="BoatLength" value={{lenghtBateau}}>
                    <span class="input-group-text">mètres</span>
                </div>
                  <div class="invalid-feedback">
                    La longueur est requise.
                  </div>
                </div>
        </div>
    </div>
    </div>
